@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Anton+SC&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,401;1,401&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(/img/katherine-gu-2CotQSBTcjI-unsplash.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titlevid{
    width: 100%;
}
header h1, header p{
    position: absolute;
    z-index: 99;
}
header h1{
    top: 200px;
    left: 100px;
    font-size: 250px;
    color: #fff;
}
header p{
    top: 430px;
    left: 120px;
    font-size: 40px;
    color: #fff;
    letter-spacing: 15px;
}
.titles{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.titles div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 900px;
    height: 60px;
}
.titles div{
    background-image: url(/img/brushstroke.png);
    background-position: center;
    background-size: cover;
}